<div class="container-fluid" id="chat-bar">
  <div class="position-relative d-flex flex-row">
    <div *ngFor="let chat of chats">
      <div class="d-flex flex-row mx-2">
        <div class="app-link px-5" (click)="chat.show = !chat.show">
          {{ chat.friend.name }}
        </div>
        <i
          class="far fa-times-circle app-link mx-2 align-self-center"
          (click)="deleteChat(chat)"
        ></i>
      </div>
      <div class="chat-window d-flex flex-column" *ngIf="chat.show">
        <div class="d-flex justify-content-between chat-title">
          <span class="align-self-center">{{ chat.friend.name }}</span>
          <i
            class="far fa-times-circle fa-2x app-link"
            (click)="deleteChat(chat)"
          ></i>
        </div>
        <div class="chat-body pt-1">
          <div
            *ngFor="let message of chat.messages"
            class="d-flex"
            [ngClass]="{
              'justify-content-end': message.senderId !== chat.friend.id,
              'justify-content-start': message.senderId === chat.friend.id
            }"
          >
            <div
              class="chat-message p-2"
              [ngClass]="{
                self: message.senderId !== chat.friend.id,
                friend: message.senderId === chat.friend.id
              }"
            >
              {{ message.content }}
            </div>
          </div>
        </div>
        <div>
          <input
            type="text"
            class="form-control bg-transparent"
            #text
            placeholder="Write New Message"
          />
          <button class="app-btn">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
