<nav class="navbar navbar-expand-sm">
  <a class="app-link" href="#"
    ><span id="logo">Backgammon King</span>
    <i class="fas fa-crown fa-2x px-3"></i>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link app-link" href="#"
          >Play With Friends<i class="fas fa-user-friends px-3"></i
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link app-link" href="#"
          >Play With Random
          <i class="fas fa-dice px-3"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link app-link" href="#"
          >Find Friends
          <i class="fas fa-users px-3"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
