<div class="game-container container">
  <div class="row board">
    <div
      *ngFor="let slot of gameBoardView; index as i"
      class="col-1 game-slot d-flex"
      (click)="clickSlot(i)"
      option="false"
      (dragover)="allowDrop($event)"
      (drop)="onDrop($event, i)"
      id="{{ i }}"
      [ngClass]="{
        'flex-column-reverse': i > 11,
        'flex-column': i < 12
      }"
    >
      <div
        *ngFor="let player of slot"
        [ngClass]="{
          black: player.color === 'black',
          white: player.color === 'white'
        }"
        [draggable]="isDraggable(player.color)"
        (dragstart)="onDrag($event, i)"
        (dblclick)="removePlayer(i)"
      ></div>
    </div>
  </div>
</div>
<div id="jail">
  <div
    *ngFor="let player of jail"
    [ngClass]="{
      black: player.color === 'black',
      white: player.color === 'white'
    }"
    [draggable]="isDraggable(player.color)"
    (dragstart)="onDrag($event, jailIndex)"
  ></div>
</div>
<div id="manuel" class="text-center pt-2">
  <h3>Game Instructions</h3>
  <div class="m-3">In Order To Move click on Pawn You Wish To Move And Drag It To Suggested Slot</div>
  <div>_________________________________</div>
  <div class="m-3">When All Of Your Pawns Are in The Finale 6 Slots, You Can Remove The Correct Pawn By Double Clicking It </div>
</div>

<div id="end-button-container">
  <button (click)="endTurn()" class="app-btn">End Turn</button>
</div>
<app-dice (resultsEmitter)="getDiceRes($event)" *ngIf="isMyTurn"></app-dice>
