.game-container {
  width: 58vw;
  height: 80vh;
  background: url("https://c8.alamy.com/comp/KTK8EN/backgammon-board-03-KTK8EN.jpg")
    no-repeat;
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 0px;
}
.board {
  width: 100%;
  margin: 0px;
  padding: 28px;
}
#jail{
  position: fixed;
  background-color: var(--app-theme-light);
  width: 15vw;
  height: 15vw;
  top: 10%;
  right: 2.5vw;
  border-radius: 1rem;
}
.game-slot {
  background-color: rgb(0, 255, 255, 0.4);
  height: calc(40vh - 24px);
  border: solid black;
  cursor: pointer;
}
.game-slot:hover {
  background-color: rgba(19, 88, 88, 0.4);
}
.game-slot[option = "true"]{
  background-color: rgb(0, 255, 64, 0.4);
}
.black {
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
.white {
  height: 60px;
  width: 60px;
  background-color: rgb(235, 224, 224);
  border-radius: 50%;
  border: black solid 1px;
  display: inline-block;
}
