<ng-container *ngIf="!isLoading"
  ><button class="app-btn" id="play-friends">
    <h1>Play With Friends</h1>
    <i class="fas fa-user-friends fa-3x px-3"></i>
  </button>
  <button class="app-btn" id="play-random" (click)="playRandom()">
    <h1>Play With Random</h1>
    <i class="fas fa-dice fa-3x px-3"></i>
  </button>
  <button class="app-btn" id="find-friends">
    <h1>Find Friends</h1>
    <i class="fas fa-users fa-3x px-3"></i></button
></ng-container>

<div id="spinner-container" *ngIf="isLoading">
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
